:root {
    --white: #f4f4f4;
    --black: #181818;
    --secondary: #da2525;
    --secondark: #b90b0b;
    --thirdary: #ffb916;
    --thirdark: #c08d00;
} 

* {
    font-family: "Rubik", serif;    
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    /*Remove scrollbars*/
    overflow-x: hidden;
    scrollbar-width: none;

    margin: 0;
    padding: 0;

    font-size: 2rem;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html {
    font-size: clamp(12px, 6vw, 30px);
}

*::-webkit-scrollbar {
    display: none;
}

.content {
    margin: auto;
    max-width: 1000px;
}
h1 {
    font-size: 3rem;
    margin: 1rem;
    text-align: center;
      font-family: "Arsenal SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
    font-size: 2rem;
    margin: 1rem;
    font-weight: 200;
    text-align: center;
}

p {
    font-size: 1.5rem;
    margin: 1rem;
}

p.notice {
    color: gray;
    font-size: 0.75rem;
}

a {
    color: var(--white);
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    transition: background-color 200ms;
    background-color: var(--secondary);
    border-radius: 10px;
}

a:hover {
    background-color: var(--secondark);
}

label {
    font-size: 1rem;
}

input {
    font-size: 1rem;
      font-family: "Lilita One", serif;
  font-weight: 400;
  font-style: normal;
}

button {
    font-size: 1rem;
}

table {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    border: 1px solid;
}

th {
    background-color: var(--thirdary);
}

th, td {
    font-size: 1rem;
    padding: 0.5rem;
}

#logo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-image: url(assets/images/logo.jpg);
    background-size: contain;
}

img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px 400px;
    background-color: #c8c8c8;
    padding: 30px;
    margin: 20px;
    gap: 30px;
    border-radius: 15px;
}

.grid-item {
    color: var(--black);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    font-size: 1rem;
    text-align: center;
    transition: all 100ms ease-out;
  }
.grid-item:hover {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.1, 1.1);
  }
.grid-img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.grid-text {
    position: relative;
    font-size: 3rem;
    margin-top: 10px;
    padding: 0;
    bottom: 40px;
}
.grid-info {
    text-align: left;
    font-size: 1rem;
    color: gray;
    margin-left: 5px;
    padding: 0;
}

.bg {
    width: 100vw;
    height: 100vh;
    background-image: url("assets/images/wordbg.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 100% 100%;
    background-color: rgb(240, 240, 240);
}

#chatcontainer {
    background-color: rgba(240, 240, 240, 0.071);
    position: fixed;
    width: 100vw;
    height: 72%;
    top: 21%;
}

#chatarea {
    background-color: white;
    border: 1px solid rgb(227, 227, 227);
    position: fixed;
    transform: translate(-50%, 0);
    left: 49.5%;
    width: 90vw;
    height: 71%;
    overflow-y: scroll;
}

.simple-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    font-size: 0.5rem;
    text-align: center;
    background-color: var(--black);
    color: var(--white);
}

@media all and (display-mode: fullscreen) {
  #logo, .notice {
      display: none;
  }
}