:root {
    --white: #f4f4f4;
} 

* {
    font-family: sans-serif;
    /*Remove scrollbars*/
    overflow-x: hidden;
    scrollbar-width: none;

    margin: 0;
    padding: 0;

    font-size: 2rem;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

*::-webkit-scrollbar {
    display: none;
}

h1 {
    font-size: 2rem;
    margin: 1rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
    margin: 1rem;
    font-weight: 200;
    text-align: center;
}

p {
    font-size: 1rem;
    margin: 1rem;
}

p.notice {
    color: gray;
    font-size: 0.75rem;
}

.bg {
    width: 100vw;
    height: 100vh;
    background-image: url("assets/images/wordbg.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 100% 100%;
    background-color: rgb(240, 240, 240);
}

#chatcontainer {
    background-color: rgba(240, 240, 240, 0.071);
    position: fixed;
    width: 100vw;
    height: 72%;
    top: 21%;
}

#chatarea {
    background-color: white;
    border: 1px solid rgb(227, 227, 227);
    position: fixed;
    transform: translate(-50%, 0);
    left: 49.5%;
    width: 90vw;
    height: 71%;
    overflow-y: scroll;
    
}

label {
    font-size: 1rem;
}

input {
    font-size: 1rem;
}

button {
    font-size: 1rem;
}

a#logo {
    position: fixed;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    background-image: url(assets/images/word.png);
}