:root {
    --white: #f4f4f4;
} 

* {
    font-family: sans-serif;
    /*Remove scrollbars*/
    overflow-x: hidden;
    scrollbar-width: none;

    margin: 0;
    padding: 0;

    font-size: 2rem;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

*::-webkit-scrollbar {
    display: none;
}

h1 {
    font-size: 2rem;
    margin: 1rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
    margin: 1rem;
    font-weight: 200;
    text-align: center;
}

p {
    font-size: 1rem;
    margin: 1rem;
}

.bg {
    width: 100vw;
    height: 100vh;
    background-image: url("assets/images/wordbg.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

#chatarea{
    border: 1px solid black;
    position: fixed;
    top: 20vh;
    left:24.5vw;
    width: 50vw;
    height: 60vh;
}